/* Content
============================================================================= */
:root {
  --content-max-width: 100em;

  /* Blockquote */
  --blockquote-background: var(--mono-shade2);
  --blockquote-border-color: black;
  --blockquote-border-style: solid;
  --blockquote-border-width: 0px;
  --blockquote-border-radius: var(--border-radius-m);
  --blockquote-color: var(--mono-tint2);
  --blockquote-em-font-family: var(--base-font-family);
  --blockquote-em-font-size: 1em;
  --blockquote-em-font-style: regular;
  --blockquote-em-font-weight: normal;
  --blockquote-font-family: var(--base-font-family);
  --blockquote-font-size: 1em;
  --blockquote-font-style: regular;
  --blockquote-font-weight: normal;
  --blockquote-quotes-close: ">";
  --blockquote-quotes-color: var(--mono-tint2);
  --blockquote-quotes-font-family: 0;
  --blockquote-quotes-font-size: 0;
  --blockquote-quotes-open: "Test";
  --blockquote-padding: 1.5em;

  /* Code */
  --code-font-family: "Fira Code", Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  --code-font-size: calc(var(--font-size-m) * 0.95);
  --code-font-weight: normal;
  --code-tab-size: 4;

  --code-block-border-size: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--mono-tint1);
  --code-block-border-radius: var(--border-radius-s);
  --code-block-line-height: var(--base-line-height);
  --code-block-margin: 1em 2em;
  --code-block-padding: 1.75em 1.5em 1.5em 1.5em;

  --code-inline-background: var(--mono-shade2);
  --code-inline-border-radius: var(--border-radius-s);
  --code-inline-color: var(--code-theme-text);
  --code-inline-margin: 0 0.15em;
  --code-inline-padding: 0.125em 0.4em;

  --code-theme-background: inhert;
  --code-theme-comment: #56648e;
  --code-theme-function: #72e58e;
  --code-theme-keyword: #ff79c6;
  --code-theme-operator: #cecece;
  --code-theme-punctuation: #f8f8f2;
  --code-theme-selection: #c07916;
  --code-theme-selector: #c07916;
  --code-theme-tag: #8be9fd;
  --code-theme-text: #e2e1e4;
  --code-theme-variable: #bd93f9;

  /* Headings */
  --heading-color: var(--mono-shade3);
  --heading-font-family: 0;
  --heading-font-weight: 0;
  --heading-margin: 2.5rem 0 0;
  --heading-padding: 0;
  --heading-h1-border-color: 0;
  --heading-h1-border-style: solid;
  --heading-h1-border-width: 0;
  --heading-h1-color: 0;
  --heading-h1-font-family: 0;
  --heading-h1-font-size: var(--font-size-xxl);
  --heading-h1-font-weight: 0;
  --heading-h1-margin: 0;
  --heading-h1-padding: 0;
  --heading-h2-border-color: 0;
  --heading-h2-border-style: solid;
  --heading-h2-border-width: 0;
  --heading-h2-color: 0;
  --heading-h2-font-family: 0;
  --heading-h2-font-size: var(--font-size-xl);
  --heading-h2-font-weight: 0;
  --heading-h2-margin: 0;
  --heading-h2-padding: 0;
  --heading-h3-border-color: 0;
  --heading-h3-border-style: solid;
  --heading-h3-border-width: 0;
  --heading-h3-color: 0;
  --heading-h3-font-family: 0;
  --heading-h3-font-size: var(--font-size-l);
  --heading-h3-font-weight: 0;
  --heading-h3-margin: 0;
  --heading-h3-padding: 0;
  --heading-h4-border-color: 0;
  --heading-h4-border-style: solid;
  --heading-h4-border-width: 0;
  --heading-h4-color: 0;
  --heading-h4-font-family: 0;
  --heading-h4-font-size: var(--font-size-m);
  --heading-h4-font-weight: 0;
  --heading-h4-margin: 0;
  --heading-h4-padding: 0;

  --heading-h5-border-color: 0;
  --heading-h5-border-style: solid;
  --heading-h5-border-width: 0;
  --heading-h5-color: 0;
  --heading-h5-font-family: 0;
  --heading-h5-font-size: var(--font-size-s);
  --heading-h5-font-weight: 0;
  --heading-h5-margin: 0;
  --heading-h5-padding: 0;

  --heading-h6-border-color: 0;
  --heading-h6-border-style: solid;
  --heading-h6-border-width: 0;
  --heading-h6-color: 0;
  --heading-h6-font-family: 0;
  --heading-h6-font-size: var(--font-size-xs);
  --heading-h6-font-weight: 0;
  --heading-h6-margin: 0;
  --heading-h6-padding: 0;

  /* Keyboard */
  --kbd-background: var(--mono-tint3);
  --kbd-border: 0;
  --kbd-border-radius: var(--border-radius-m);
  --kbd-color: 0;
  --kbd-font-size: 0;
  --kbd-margin: 0 0.3em;
  --kbd-min-width: 2.5em;
  --kbd-padding: 0.65em 0.5em;

  /* Links */
  --link-border-bottom: 0;
  --link-border-bottom--hover: 0;
  --link-color: 0;
  --link-color--hover: 0;
  --link-text-decoration: underline;
  --link-text-decoration--hover: 0;
  --link-text-decoration-color: 0;
  --link-text-decoration-color--hover: 0;

  /* Notice */
  --notice-background: var(--mono-tint3);
  --notice-border-color: 0;
  --notice-border-radius: var(--border-radius-m);
  --notice-border-style: solid;
  --notice-border-width: 0;
  --notice-color: 0;
  --notice-font-family: 0;
  --notice-font-weight: normal;
  --notice-padding: 1em 1.5em;

  /* Notice - Pseudo */
  --notice-before-background: 0;
  --notice-before-border-radius: 0;
  --notice-before-color: 0;
  --notice-before-content: 0;
  --notice-before-font-family: 0;
  --notice-before-font-size: 0;
  --notice-before-font-weight: normal;
  --notice-before-height: 0;
  --notice-before-left: 0;
  --notice-before-line-height: 0;
  --notice-before-margin: 0;
  --notice-before-padding: 0;
  --notice-before-position: 0;
  --notice-before-top: 0;
  --notice-before-width: 0;

  /* Notice - Important */
  --notice-important-background: 0;
  --notice-important-border-color: 0;
  --notice-important-border-style: 0;
  --notice-important-border-width: 0;
  --notice-important-color: 0;

  /* Notice - Important Pseudo */
  --notice-important-before-background: 0;
  --notice-important-before-color: 0;
  --notice-important-before-content: 0;

  /* Notice - Tip */
  --notice-tip-background: 0;
  --notice-tip-border-color: 0;
  --notice-tip-border-style: 0;
  --notice-tip-border-width: 0;
  --notice-tip-color: 0;

  /* Notice - Tip Pseudo */
  --notice-tip-before-background: 0;
  --notice-tip-before-color: 0;
  --notice-tip-before-content: 0;

  /* Tables */
  --table-body-border-color: 0;
  --table-body-border-width: 0;
  --table-cell-border-color: 0;
  --table-cell-border-width: 0;
  --table-cell-padding: 0.75em 0.5em;
  --table-head-background: 0;
  --table-head-border-color: var(--table-cell-border-color);
  --table-head-border-width: 0;
  --table-head-font-weight: var(--strong-font-weight);
  --table-row-even-background: 0;
  --table-row-odd-background: var(--mono-tint3);
}
