/* Cover
============================================================================= */
:root {
  --cover-color: var(--mono-tint1);
  --cover-margin: 0 auto;
  --cover-max-width: 40em;
  --cover-text-align: center;

  /* Background */
  --cover-background-blend-mode: 0;
  --cover-background-color: var(--base-background-color);
  --cover-background-image: 0;
  --cover-background-mask-color: var(--base-background-color);
  --cover-background-mask-opacity: 0.8;
  --cover-background-mask-visibility: 0;
  --cover-background-position: center center;
  --cover-background-repeat: no-repeat;
  --cover-background-size: cover;

  /* Blockquote (Subtitle) */
  --cover-blockquote-color: 0;
  --cover-blockquote-font-size: var(--font-size-l);

  /* Border */
  --cover-border-inset: 0;
  --cover-border-color: var(--theme-color);
  --cover-border-width: 0;

  /* Buttons */
  --cover-button-background: var(--theme-color);
  --cover-button-background--hover: var(--theme-hover-color);
  --cover-button-border: 1px solid var(--theme-hover-color);
  --cover-button-border--hover: 1px solid var(--theme-hover-color);
  --cover-button-border-radius: var(--border-radius-m);
  --cover-button-box-shadow: 0px;
  --cover-button-box-shadow--hover: 0px;
  --cover-button-color: var(--mono-tint3);
  --cover-button-color--hover: var(--mono-tint3);
  --cover-button-padding: 0.5em 2rem;
  --cover-button-text-decoration: none;
  --cover-button-text-decoration--hover: none;
  --cover-button-text-decoration-color: none;
  --cover-button-text-decoration-color--hover: none;
  --cover-button-transition: all var(--duration-fast) ease-in-out;

  /* Buttons - Primary */
  --cover-button-primary-background: var(--theme-color);
  --cover-button-primary-background--hover: var(--theme-hover-color);
  --cover-button-primary-border: 1px solid var(--theme-hover-color);
  --cover-button-primary-border--hover: 1px solid var(--theme-hover-color);
  --cover-button-primary-box-shadow: 0;
  --cover-button-primary-box-shadow--hover: 0;
  --cover-button-primary-color: var(--mono-tint3);
  --cover-button-primary-color--hover: var(--mono-tint3);
  --cover-button-primary-text-decoration: none;
  --cover-button-primary-text-decoration--hover: none;
  --cover-button-primary-text-decoration-color: none;
  --cover-button-primary-text-decoration-color--hover: none;

  /* Heading */
  --cover-heading-color: var(--theme-color);
  --cover-heading-font-size: var(--font-size-xxl);
  --cover-heading-font-size-min: 16px;
  --cover-heading-font-size-max: 32px;
  --cover-heading-font-weight: 300;

  /* Links */
  --cover-link-border-bottom: 0;
  --cover-link-border-bottom--hover: 0;
  --cover-link-color: 0;
  --cover-link-color--hover: 0;
  --cover-link-text-decoration: underline;
  --cover-link-text-decoration--hover: 0;
  --cover-link-text-decoration-color: 0;
  --cover-link-text-decoration-color--hover: 0;
}
