/* Sidebar
============================================================================= */
:root {
  --sidebar-background: var(--mono-shade2);
  --sidebar-border-color: var(--theme-color);
  --sidebar-border-width: 0px;
  --sidebar-padding: 0 15px;
  --sidebar-transition-duration: var(--duration-fast);
  --sidebar-width: 16rem;

  /* Name */
  --sidebar-name-background: none;
  --sidebar-name-color: var(--mono-tint1);
  --sidebar-name-font-family: 0;
  --sidebar-name-font-size: var(--font-size-l);
  --sidebar-name-font-weight: normal;
  --sidebar-name-margin: 1.5rem 0 0;
  --sidebar-name-padding: 0;
  --sidebar-name-text-align: center;

  /* Nav Headings */
  --sidebar-nav-strong-border-color: var(--sidebar-border-color);
  --sidebar-nav-strong-border-width: 0;
  --sidebar-nav-strong-color: var(--heading-color);
  --sidebar-nav-strong-font-size: 0;
  --sidebar-nav-strong-font-weight: var(--strong-font-weight);
  --sidebar-nav-strong-margin: 1.5em 0 0.5em;
  --sidebar-nav-strong-padding: 0.25em 0;
  --sidebar-nav-strong-text-transform: 0;

  /* Nav Container */
  --sidebar-nav-background: 0;
  --sidebar-nav-indent: 1em;
  --sidebar-nav-margin: 1.5rem 0 0;
  --sidebar-nav-padding: 0;

  /* Nav Links */
  --sidebar-nav-link-background: 0;
  --sidebar-nav-link-background--active: 0;
  --sidebar-nav-link-background--hover: 0;
  --sidebar-nav-link-border-color: 0;
  --sidebar-nav-link-border-color--active: 0;
  --sidebar-nav-link-border-color--hover: 0;
  --sidebar-nav-link-border-radius: 0;
  --sidebar-nav-link-border-style: solid;
  --sidebar-nav-link-border-style--active: 0;
  --sidebar-nav-link-border-style--hover: 0;
  --sidebar-nav-link-border-width: 0;
  --sidebar-nav-link-border-width--active: 0;
  --sidebar-nav-link-border-width--hover: 0;
  --sidebar-nav-link-color: var(--base-color);
  --sidebar-nav-link-color--active: 0;
  --sidebar-nav-link-color--hover: 0;
  --sidebar-nav-link-font-weight: normal;
  --sidebar-nav-link-font-weight--active: 0;
  --sidebar-nav-link-font-weight--hover: 0;
  --sidebar-nav-link-margin: 0;
  --sidebar-nav-link-padding: 0.25em 0;
  --sidebar-nav-link-text-decoration: 0;
  --sidebar-nav-link-text-decoration--active: underline;
  --sidebar-nav-link-text-decoration--hover: underline;
  --sidebar-nav-link-text-decoration-color: 0;
  --sidebar-nav-link-transition: 0;

  /* Nav Links - Pseudo Content */
  --sidebar-nav-link-before-content: 0;
  --sidebar-nav-link-before-content--active: 0;
  --sidebar-nav-link-before-content-l1: 0;
  --sidebar-nav-link-before-content-l1--active: 0;
  --sidebar-nav-link-before-content-l2: 0;
  --sidebar-nav-link-before-content-l2--active: 0;
  --sidebar-nav-link-before-content-l3: 0;
  --sidebar-nav-link-before-content-l3--active: 0;
  --sidebar-nav-link-before-content-l4: 0;
  --sidebar-nav-link-before-content-l4--active: 0;

  /* Nav Links - Pseudo Style */
  --sidebar-nav-link-before-color: 0;
  --sidebar-nav-link-before-color--active: 0;
  --sidebar-nav-link-before-color-l1: 0;
  --sidebar-nav-link-before-color-l1--active: 0;
  --sidebar-nav-link-before-color-l2: 0;
  --sidebar-nav-link-before-color-l2--active: 0;
  --sidebar-nav-link-before-color-l3: 0;
  --sidebar-nav-link-before-color-l3--active: 0;
  --sidebar-nav-link-before-color-l4: 0;
  --sidebar-nav-link-before-color-l4--active: 0;
  --sidebar-nav-link-before-margin: 0 0.35em 0 0;
  --sidebar-nav-link-before-margin-l1: 0;
  --sidebar-nav-link-before-margin-l2: 0;
  --sidebar-nav-link-before-margin-l3: 0;
  --sidebar-nav-link-before-margin-l4: 0;

  /* Nav Page Links */
  --sidebar-nav-pagelink-background: 0;
  --sidebar-nav-pagelink-background--active: 0;
  --sidebar-nav-pagelink-background--collapse: 0;
  --sidebar-nav-pagelink-background--loaded: 0;
  --sidebar-nav-pagelink-padding: 0;
  --sidebar-nav-pagelink-transition: var(--sidebar-nav-link-transition);

  /* Toggle */
  --sidebar-toggle-background: 0;
  --sidebar-toggle-border-color: 0;
  --sidebar-toggle-border-radius: var(--border-radius-s);
  --sidebar-toggle-border-style: solid;
  --sidebar-toggle-border-width: 0;
  --sidebar-toggle-height: 36px;
  --sidebar-toggle-icon-color: var(--base-color);
  --sidebar-toggle-icon-height: 10px;
  --sidebar-toggle-icon-stroke-width: 1px;
  --sidebar-toggle-icon-width: 16px;
  --sidebar-toggle-offset-left: 0;
  --sidebar-toggle-offset-top: calc(35px - (var(--sidebar-toggle-height) / 2));
  --sidebar-toggle-width: 44px;
}
